/* Colors */

@import 'colors.css';
@define-color background @color10;
@define-color groupbackground @color10;
@define-color buttoncolor @color14;
@define-color bordercolor @color5;
@define-color fontcolor @color0;

@keyframes rainbow {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 400% 0;
  }
}

:root {
  --border-radius: 10px;
  --cc-bg: transparent;

  --widget-background: alpha(@color10, 0.8);
  --noti-bg-alpha: 0.6;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.widget.widget-title label {
    font-size: 14px;
}

.widget.widget-title {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 10px;
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
    border-radius: var(--border-radius);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
}

.notification {
    background-color: @color9;
    border-radius: var(--border-radius);
}

.notification-default-action {
    background-color: @color9;
    border-radius: 5px;
}

.notification-background {
    background-color: rgba(0, 0, 0, 0);
    border-radius: var(--border-radius);
}

.close-button {
    background-color: rgba(0, 0, 0, 0);
    margin: 2px 2px 0px 0px;
}

.widget.widget-dnd {
	padding: 2px 2px 2px 2px;
}

.widget.widget-dnd label{
	font-size: 14px;
	padding: 0 0px 0px 9px;
}

.widget.widget-volume {
	padding: 2px 2px 2px 11px;
}

.widget.widget-mpris {
  background: transparent;  
  border-radius: var(--border-radius);
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}

.widgets > .widget {
    margin-top: 2px;
    margin-bottom: 2px;
}
