.keymapp
*Balatro*
Code
Cursor
dconf
discord
gtk-3.0
gtk-4.0
qt6ct
ohmyposh
xsettingsd
nwg-dock-hyprland
*.gif
*.mp4
*.jpg
*.png
fontforge
glib*
go
guvcview*
ibus
kwallet*
matplotlib
menus
nwg*
ow-electron
paradox*
pavucontrol*
Proton
proton*
pulse
QGroundControl
QtProject.conf
systemd
unity*
user*
vlc
vinote
wireshark
xfce4
xsettingsd
yay
Electron
GIMP
github-copilot
wally


