.keymapp
*Balatro*
Code
Cursor
dconf
discord
gtk-3.0
gtk-4.0
qt6ct
ohmyposh
xsettingsd
nwg-dock-hyprland
*.gif
*.mp4
*.jpg
*.png
*.token
fontforge
glib*
go
guvcview*
ibus
kwallet*
matplotlib
menus
nwg*
ow-electron
onlyoffice
Electron
electron-builder.json
evolution
paradox*
pavucontrol*
Proton
proton*
pulse
QGroundControl
QtProject.conf
systemd
torbrowser
unity*
Unity*
user*
vlc
vinote
wireshark
xfce4
xsettingsd
yay
Electron
GIMP
github-copilot
wally
Ultralytics
gnome-builder
kdeconnect
pdfarranger
sqlitebrowser
wireplumber
xclicker*
xfce4
xsettingsd
yay
YouTube Music
obsidian
obs-studio
zoom*
Thunar
cursor
