
/* ---- Configuration ---- */
configuration {
    modi:                       "dmenu";
    show-icons:                 false;
    font:                       "Pixel Code 10";
}

/* ---- Load colors ---- */
@theme "~/.config/rofi/colors.rasi"
@import "~/.config/rofi/vars.rasi"
/* ---- Window ---- */
window {
    width:                       20em;
    location:                    northeast;   /* Top Right */
    anchor:                      northeast;   /* Anchor to Top Right */
    x-offset:                    -20px;       /* Margin from right edge */
    y-offset:                    20px;        /* Margin from top edge */
    fullscreen:                  false;
    transparency:                "real";
    
    border:                      2px;
    border-color:                @primary;
    border-radius:               @menu-radius;
    
    background-color:            @background;
    spacing:                     0;
    padding:                     0px;
    cursor:                      "default";
    enabled:                     true;
}

/* ---- Main Box ---- */
mainbox {
    enabled:                     true;
    spacing:                     0px;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "listbox" ];
    background-color:            transparent;
}

/* ---- Input Bar ---- */
inputbar {
    enabled:                     true;
    padding:                     0px;
    margin:                      0;
    children:                    [ "textbox-prompt-colon", "entry" ];
    border-radius:               @input-radius;
    background-color:            @surface;
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "";
    padding:                     0.2em 0.3em 0 1em;
    text-color:                  @on-surface;
    background-color:            transparent;
}

entry {
    enabled:                     true;
    padding:                     0.2em 0em 0.2em 1.4em;
    text-color:                  @on-surface;
    cursor:                      text;
    placeholder:                 "Search Clipboard";
    background-color:            transparent;
    placeholder-color:           inherit;
}

/* ---- List Box (Wrapper) ---- */
listbox {
    padding:                     0em;
    spacing:                     0em;
    orientation:                 vertical;
    children:                    [ "inputbar", "listview" ];
    background-color:            transparent;
}

/* ---- List View ---- */
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       15;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;
    
    spacing:                     0px;
    padding:                     0px 0 0 0;
    background-color:            transparent;
    text-color:                  @on-surface;
    cursor:                      "default";
}

/* ---- Elements ---- */
element {
    enabled:                     true;
    spacing:                     0px;
    padding:                     2px 0px 2px 10px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @on-surface;
    border-radius:               @element-radius;
}

element selected.normal {
    background-color:            @primary;
    text-color:                  @background;
    border-radius:               @element-radius;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element alternate.normal {
    background-color:            inherit;
    text-color:                  @on-surface;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

/* ---- Error Message ---- */
error-message {
    text-color:                  @on-surface;
    background-color:            @background;
    text-transform:              capitalize;
    children:                    [ "textbox" ];
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
